img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Rubik', sans-serif;
}

/*HEADER*/

.header {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 50px 15px;
    margin-bottom: 40px;
}

.navigation__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__item {
    margin-left: 40px;
}

.navigation__item:first-child {
    margin: 0;
}

.navigation__link {
    color: #4F5665;
    font-size: 16px;
    text-decoration: none;
    transition: color .3s linear;
}

.navigation__link:hover {
    color: #F53855;
}

.sign-in {
    color: #0B132A;
    font-size: 16px;
    font-weight: 500px;
    background: none;
    border: none;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.sign-in:hover {
    color: #F53855;
}

.account {
    display: flex;
}

.sign-up {
    border: 1px solid #F53855;
    color: #F53855;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500px;
    width: 140px;
    height: 45px;
    background: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    transition: all .3s ease-in-out;
}

.sign-up:hover {
    color: #fff;
    background-color: #F53855;
}

/*MAIN*/
.heading {
    max-width: 1240px;
    margin: 0 auto 103px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.heading__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin: 0 0 20px;
}

.heading__title span {
    font-weight: bold;
    color:#F53855;
}

.heading__description {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
}

.heading__description p {
    margin: 0 0 20px;
}

.heading__inner {
    margin-right: 40px;
}

.heading__img {
    max-width: 612px;
    width: 52%;
    flex-shrink: 0;
}

.heading__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    max-width: 100%;
    background-color: #F53838;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 20px 20px 7px rgba(245, 56, 56, 0.25);
    transition: all .3s ease-in-out;
}

.heading__btn:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 20px 30px 5px rgba(245, 56, 56, 0.25);
}

.advantages {
    max-width: 1140px;
    margin: 0 auto 95px;
    padding: 37px 90px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 15px 20px 7px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
}

.advantages__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #EEEFF2;
    padding: 20px 0;
    width: 33.33333%;
}

.advantages__item:last-child {
    border: none;
    justify-content: flex-end;
}

.advantages__item:first-child {
    justify-content: flex-start;
}

.advantages__icon {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #FFECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 36px;
}

.advantages__title {
    font-weight: 25px;
    color: #0B132A;
    font-weight: 700;
    margin: 0 0 5px;
}

.advantages__text {
    margin: 0;
    color: #4F5665;
    font-weight: 20px;
}

.advantages::before {
    content: '';
    display: block;
    width: 58px;
    height: 83px;
    position: absolute;
    background-image: url(../images/lock.png);
    left: -30px;
    bottom: -30px;
    background-size: cover;
    animation-name: lock;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
}

.advantages::after {
    content: '';
    display: block;
    width: 113px;
    height: 83px;
    position: absolute;
    background-image: url(../images/chart.png);
    right: -25px;
    top: -40px;
}

.features {
    max-width: 1135px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto 130px;
}

.features__inner {
    max-width: 430px;
}

.features__img {
    margin-right: 40px;
}

.features__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin: 0 0 20px;
}

.features__description {
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.features__description p {
    margin: 0 0 20px;
}

.features__list {
    padding: 0;
    margin: 0;
}

.features__list li {
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    /*list-style-image: url(../images/marker.png);*/
}

.features__list li:last-child {
    margin-bottom: 0;
}

.features__list li::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/marker.png);
    margin-right: 11px;
}

.footer {
    height: 600px;
    background: #F8F8F8;
}

.subscribe {
    max-width: 1140px;
    height: 200px;
    background: #fff;
    box-shadow: 0 15px 20px 7px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

@keyframes lock {
    0% {
        transform: rotate(0deg);
    }
    15% {
        bottom: 80%;
        left: -30px;
    }
    45% {
        bottom: 80%;
        left: 95%;
        transform: rotate(180deg);
    }
    60% {
        left: 95%;
        bottom: -30px;
    }
    100% {
        transform: rotate(360deg);
        left: -30px;
        bottom: -30px;
    }
}