.wrapper {
    background-color: blue;
    margin: 50px;
    padding: 50px;
    position: relative;
}

.block {
    width: 150px;
    height: 150px;
    text-align: center;
}

.block-1 {
    background: red;
    position: absolute;
    top: 40px;
    right: 60px;
}

.block-2 {
    background: green;
    position: fixed;
    top: 0;
    left: 0;
}

.block-3 {
    background: purple;
    position: relative;
    z-index: 3;
}

.block-4 {
    background: orange;
    top: 100px;
    left: 50px;
}